* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  height: 100vh;
  
  background: linear-gradient(to right, #e6f7fe 0%, #dcf7c5 100%);

  font-family: "Montserrat", sans-serif;
}

:root {
  font-size: 62.5%;
}
