footer {
  width: 100vw;
  height: 50px;
  padding: 0 0.5rem;

  background: black;
  color: #fff;
  font-weight: 600;
  font-size: 0.8rem;
  
  position: absolute;
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;
}

.images {
  display: fixed;

  align-items: center;
  margin-right: 2rem;
}

footer a img {
  max-width: 4.5rem;
  max-height: 4.5rem;

  cursor: pointer;
}

/* Desktop version */

@media (min-width: 768px) {
  footer {
    bottom: 0%;
  }

  footer a img {
    max-width: 6rem;
    max-height: 3.5rem;
  }

  footer p {
    font-size: 1.0rem;
    margin-right: 2rem;
  }
  
  .images {
    margin-left: 2rem;
  }
}
