header {
  height: clamp(2rem, 6rem, 8rem);
  
  background: white;
  font-size: 1.2rem;
  font-weight: 600;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header Link.logo-upside {
  padding-left: 1.0rem;

  cursor: pointer;
}

header .logo-upside-sarah {
  max-width: 5rem;
  max-height: 5rem;
}

header p {
  padding-right: 7.5rem;
}

/* Desktop version */
@media (min-width: 768px) {
  header {
    height: clamp(4rem, 6rem, 10rem);

    justify-content: center;
  }

  .logo-upside {
    padding-left: 2.0rem;
    
    position: absolute;
    left: 3.5rem;
  }
  
  header p {
    font-size: 1.5rem;
    font-weight: 700;
  }
}
