#page-landing div.landing {
  text-align: center;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

#page-landing div.landing h1 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 4rem;

  padding-bottom: 3rem;
  padding-top: 2rem;
}

#page-landing div.landing h3 {
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 2.5rem;
}

#page-landing div.landing h3.text-one {
  margin-bottom: 2.5rem;
}

#page-landing div.landing div.buttons {
  margin-top: 4rem;
}

#page-landing div.landing div.buttons button {
  width: 16rem;
  height: 5rem;
  margin-bottom: 25px;

  cursor: pointer;
  border-radius: 7px;
  border: none;
  
  transition: 1.5s;
}

#page-landing div.landing div.buttons button.register {
  margin-right: 1rem;

  background: white;
  color: black;
}


#page-landing div.landing div.buttons button.login {
  margin-left: 1rem;

  background: #158bcc;
  color: white;
}

#page-landing div.landing div.buttons button.register:hover,
  #page-landing div.landing div.buttons button.login:hover {
    background: black;
  }

/* Desktop version */
@media(min-width: 768px) {
  #page-landing div.landing h1 {
    font-size: 4.0rem;
    line-height: 5rem;
  
    padding-bottom: 5rem;
    padding-top: 3rem;
  }

  #page-landing div.landing h3 {
    font-size: 1.5rem;
  }
  
  #page-landing div.landing h3.text-one {
    margin-bottom: 2rem;
  }
  
  #page-landing div.landing div.buttons button {
    width: 20rem;
    height: 6rem;
    
    margin-top: 2rem;
    
    cursor: pointer;
    border-radius: 7px;
    border: none;
  
    transition: 1.5s;
  }
  
  #page-landing div.landing div.buttons button.register {
    margin-right: 10rem;
  }

  #page-landing div.landing div.buttons button.login {
    margin-left: 10rem;
  }
}
