div#page-landing div.landing {
  height: min(90%);

  display: flex;
  flex-direction: column;

  text-align: center;
  align-items: center;
  justify-content: center;

  padding-bottom: 12rem;
}

div#page-landing div.landing h1 {
  font-weight: 700;
  font-size: 6.2rem;
  line-height: 8rem;

  padding-bottom: 7rem;
  padding-top: 4rem;
}

div#page-landing div.landing h3 {
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 4rem;
    
  padding: 0 26rem;
}

div#page-landing div.landing h3.text-one {
  margin-bottom: 5rem;
}

div#page-landing div.landing div.buttons {
  margin-top: 5rem;
}

div#page-landing div.landing div.buttons button.register {
  height: 8rem;
  width: 28rem;
  margin-right: 10rem;

  cursor: pointer;
  background: white;
  color: black;

  border-radius: 7px;
  border: none;

  transition: background-color 0.8s;
}

div#page-landing div.landing div.buttons button.register:hover {
  background: black;
  color: white;
}

div#page-landing div.landing div.buttons button.login {
  height: 8rem;
  width: 28rem;
  margin-left: 10rem;

  cursor: pointer;
  background: #158bcc;
  color: white;

  border-radius: 7px;
  border: none;

  transition: background-color 0.8s;
}

div#page-landing div.landing div.buttons button.login:hover {
  background: black;
  color: white;
}
