#page-login div.login {
  text-align: center;
}

#page-login div.login h1 {
  padding-top: 2rem;

  font-size: 4rem;
  font-weight: 700;
}

#page-login div.login form {
  margin-top: 10rem;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

#page-login div.login form input {
  width: 25rem;
  height: 4rem;
  margin-bottom: 2rem;

  background: #ffffff;
  border: none;
  border-radius: 7px;
  border-bottom: 0.2rem solid #000;
}

::-webkit-input-placeholder {
  padding-left: 0.8rem;
  
  color: #007aff;
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

#page-login div.login form .button {
  width: 22rem;
  height: 4.5rem;
  margin-top: 6rem;

  cursor: pointer;
  background: #158bcc;
  color: white;
  font-size: 1.6rem;
  font-weight: 600;

  border: none;
  border-radius: 7px;
  
  transition: 1.5s;
}

#page-login div.login form .button:hover {
  background: black;
}

#page-login Footer {
  bottom: 0;
}

/* Desktop version */
@media (min-width: 768px) {
  #page-login div.login h1 {
    padding-top: 4rem;
  }
  
  #page-login div.login form input {
    width: 40rem;
  }
}